<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="v-space" style="height: 50px"></div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Profilo</h2><br>
      <h4>
        Ditta nata nel 2016 per opera di <a href="http://www.massimilianozonta.com/" target=_blank>Massimiliano Zonta</a>.
        <br>
        L'identità, la visione, la missione e i valori che la contraddistingono sono riassunti nel motto "Automatizzare l'esperienza dei clienti per migliorare
        la qualità della produzione".
        Questa è la sintesi dell'esperienza professionale maturata dal titolare.
        Questo è la linea guida che l'azienda segue quotidianamente.
       </h4>
       <br>
      <a href="{{ site.baseurl }}#contact">
        <button class="btn btn-default btn-lg">Contattateci</button>
      </a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-qrcode logo slideanim"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-send logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Visione, Missione e Valori</h2><br>
      <h4>
        <strong>VISIONE:</strong>
        Utilizzare l'automazione per migliorare la qualità della produzione facendo leva sulla cultura e sui valori propri del cliente.
      </h4>
      <h4>
        <strong>MISSIONE:</strong>
        Sviluppare sistemi automatici che realizzano un buon compromesso tra i vincoli:
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-dot-circle-o"></i>Esigenze ed esperienza del cliente</li>
          <li><i class="fa-li fa fa-dot-circle-o"></i>Politiche del cliente in materia di gestione, manutenzione e sviluppo del processo produttivo</li>
          <li><i class="fa-li fa fa-dot-circle-o"></i>Aperti all'interfaccia con altri sistemi e dispositivi</li>
          <li><i class="fa-li fa fa-dot-circle-o"></i>Aperti alle tendenze tecnologiche</li>
        </ul>
      </h4>
      <h4>
        <strong>VALORI:</strong>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-plus"></i>Lavorare per creare relazioni a lungo termine con i clienti e i collaboratori</li>
          <li><i class="fa-li fa fa-plus"></i>L'attenzione ai dettagli per creare buone soluzioni e buoni prodotti</li>
        </ul>
      </h4>
    </div>
  </div>
</div>

<div class="section-separator"></div>
