<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid">
  <div class="v-space" style="height: 50px"></div>
    <h2 class="text-center">CONTATTI</h2>
    <div class="container">
    <div class="row">
      <div class="v-space" style="height: 50px"></div>
      <div class="col-sm-5">
        {% include {{ site.baseurl }}/it/contact-info-social.html %}
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-12 form-group">
            {% include {{ site.baseurl }}/it/contact-form.html %}
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="section-separator"></div>
