<!-- Container (Team Section) -->
<div id="team" class="container-fluid text-center">
  <div class="v-space" style="height: 50px"></div>
  <h2>Squadra</h2><br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="my-thumbnail" style="max-width: 300px" src="/img/team/mzonta.jpg" alt="mzonta">
        <h4><strong>Massimiliano Zonta</strong></h4>
        <p>Ingegnere dell'Automazione</p>
      </div>
      <div class="thumbnail legal-link">
        <a href="http://www.profibus.com/index.php?id=6555&pxdprofibusfilter_trainingcenter=60&alfa=26" target=_blank>
          <img class="my-pi-cert" style="max-width: 150px" src="/img/team/PI_CERT_442x254.jpg" alt="PI Certified">
        </a>
        <div class="v-space" style="height: 10px"></div>
        <p>Certified PROFINET Engineer</p>
      </div>
      {% include {{ site.baseurl }}/team/mzonta.html %}
    </div>
  </div>
  <div class="v-space" style="height: 50px"></div>
  <h2>Collaborazioni</h2><br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="partners-thumbnail" style="max-width: 300px" src="/img/partnerships/Collotto/Collotto-800-300.png" alt="DMD">
        <h4><strong>Daniele Collotto</strong></h4>
        <p>Schemi elettrici per impianti industriali</p>
      </div>
      {% include {{ site.baseurl }}/partnerships/collotto.html %}
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="partners-thumbnail" style="max-width: 300px" src="/img/partnerships/DMD/DMD-800-300.png" alt="DMD">
        <h4><strong>D.M.D. Elettrica</strong></h4>
        <p>Automazioni - Progettazioni - Cablaggi</p>
      </div>
      {% include {{ site.baseurl }}/partnerships/dmd.html %}
    </div>
  </div>
</div>

<div class="section-separator"></div>
