<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="v-space" style="height: 50px"></div>
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company</h2><br>
      <h4>
        The company was founded in 2016 by <a href="http://www.massimilianozonta.com/" target=_blank>Massimiliano Zonta</a>.
        <br>
        The identity of the company, vision, mission and values are completely expressed by the motto "Automating user experience to enhance production quality".
       </h4>
       <br>
      <a href="{{ site.baseurl }}#contact">
        <button class="btn btn-default btn-lg">Get in Touch</button>
      </a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-qrcode logo slideanim"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-send logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Vision, Mission and Values</h2><br>
      <h4>
        <strong>VISION</strong><br>
        Use automation to enhance the production quality leveraging on culture and values of the customer.
      </h4>
      <h4>
        <strong>MISSION</strong><br>
        Design automation systems that realize a good tradeoff among the constraints:
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-dot-circle-o"></i>Customer needs and experience</li>
          <li><i class="fa-li fa fa-dot-circle-o"></i>Customer policies on management, maintenance and development of the production process</li>
          <li><i class="fa-li fa fa-dot-circle-o"></i>Open to interface with other systems and devices</li>
          <li><i class="fa-li fa fa-dot-circle-o"></i>Open to technology trends</li>
        </ul>
      </h4>
      <h4>
        <strong>VALUES</strong><br>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-plus"></i>Work to create long-term relationship with customer and collaborators</li>
          <li><i class="fa-li fa fa-plus"></i>Attention at the details to create good solutions and good products</li>
        </ul>
      </h4>
    </div>
  </div>
</div>

<div class="section-separator"></div>
