<!-- Container (Team Section) -->
<div id="team" class="container-fluid text-center">
  <div class="v-space" style="height: 50px"></div>
  <h2>Team</h2><br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="my-thumbnail" style="max-width: 300px" src="/img/team/mzonta.jpg" alt="mzonta">
        <h4><strong>Massimiliano Zonta</strong></h4>
        <p>Automation Engineer & Founder</p>
      </div>
      {% include {{ site.baseurl }}/team/mzonta.html %}
    </div>
  </div>
</div>

<div class="section-separator"></div>
