<ul class="social-media-list">
  <li>
    <a href="mailto:daniele@collotto.it">
        <span class="fa-stack fa-lg social-media-list">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/daniele-collotto-633b7760" target=_blank>
        <span class="fa-stack fa-lg social-media-list">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </li>
  <li>
    <a href="http://www.collotto.it/" target=_blank>
        <span class="fa-stack fa-lg social-media-list">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-share fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </li>
</ul>
