<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    {% include {{ site.baseurl }}/it/header.html %}

    <div class="jumbotron text-center">
      <img class ="my-logo" src="/img/logo/AEX-LOGO-MAIN.png">
    </div>

    <div class="my-jumbotron text-center">
          <h1>Automatizzare l'esperienza del cliente per migliorare la qualità della produzione</h1>
    </div>

    {% include {{ site.baseurl }}/it/about.html %}

    {% include {{ site.baseurl }}/it/team.html %}

    {% include {{ site.baseurl }}/it/contact.html %}

    {% include {{ site.baseurl }}/it/footer.html %}

  </body>

</html>
